@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper{
  margin-top: 0;
  margin-bottom: 30px;
   @media screen and (max-width:780px) {
    margin-bottom: 30px;
  }
}

.language{
    padding:7px;
    margin:2px;
    font-size:7px;
    @media screen and (max-width:780px) {
      padding:7px;
      margin:2px;
      font-size: 7px;
    }
}

.wrapper .icon{
  position: relative;
  background-color: transparent;
  padding: 0 10px;
  width: auto;
  height: auto;
  font-size: 22px;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
  border-radius: 0px 20px 0px 20px;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .xing:hover,
.wrapper .xing:hover .tooltip,
.wrapper .xing:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 40px -6rem;
  @media screen and (max-width:780px) {
    margin: 40px -4rem;
  }
  width: fit-content;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.dropdown-menu li a {
  display: block;
  text-decoration: none;
  padding: 7px;
  margin:4px;
  font-size: 7px;
  @media screen and (max-width:780px) {
      padding:7px;
      margin:4px;
      font-size: 7px;
    }
  border-radius: 0px 20px 0px 20px;
}


@media (min-width: 576px) {
    .menu-mobile {
        display: none;
    }
    .menu-desktop{
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .menu-desktop {
        display: none;
    }
    .menu-mobile{
        display: inline-block;
    }
}
